version: "3.9"

services:

  inventory-service:
    build:
      context: ./inventory-service
    container_name: inventory-service
    ports:
      - "8083:8083"
    networks:
      - order-network

  order-service:
    build:
      context: ./order-service
    container_name: order-service
    ports:
      - "8081:8081"
    depends_on:
      - inventory-service
    environment:
      INVENTORY_SERVICE_URL: http://inventory-service:8083
    networks:
      - order-network


networks:
  order-network:
    driver: bridge
